.xrepJumboTron{
    height : 0;
    padding: 2rem 1rem;
    .container-fluid{
        margin-top: -15px;
        .xrepHomeLayerst{
            flex-basis: 28%;
        }
    }
}
.xrepTabSelect{
    flex: 0 0 18%;
}